
html{
	position:relative;
	height:100%;
	overflow-y:  hidden;
}

body{
	margin: 0;
	padding: 0;
	height:;
	display: flex;
}

.side_menu{
	background-color: #F0F3F8;
	border-right: 1px solid #D5D9DC;
	width: 321px;
	height: 100vh;
	position: fixed;
}

.top_panel{
	width: inherit;
	height: 242px;
	
}

.user_bar{
	height: 50px;
	width: inherit;
	background-color: #F0F3F8;
	display: flex;
}

.user_avatar{
	width: 36px;
	height: 36px;
	background-color: black;
	border-radius: 100px;
	margin: 8px 0 0 8px;
}

.user_status{
	position: absolute;
	width:10px;
	height: 10px;
	background-color: #4DD566;
	border: 2px solid #F0F3F8;
	border-radius: 100px;
	margin: -15px 0 0 30px;
}

.user_name{
	font-family: Arial;
	font-size: 12px;
	margin-left: 10px;
	cursor: pointer;
	margin-top: 20px;
}

.user_money{
	font-family: Arial;
	font-size: 12px;
	color: #9DA0A4;
	margin-left: 10px;
	cursor: pointer;
	margin-top: 20px;
}

.fas {
	margin: 17px 0 0 123px;
	cursor: pointer;
}

.search_form{
}

input[type=search]{
	width: 300px;
	height: 35px;
	border-radius: 6px;
	border: 1px solid #D5D9DC;
	margin: 5px 0 0 10px;
	padding-left: 35px;
}

.search_icon i{
	font-size: 14px;
	color: ;
	position: absolute;
	margin: 16px 0 0 -290px;
}

.left_border{
	width: 1px;
	height: 35px;
	position: absolute;
	background-color: #D5D9DC;
	margin: -35px 0 0 270px;
}

.dial_pad{
	width: 12px;
	height: 15px;
	position: absolute;
	margin: 16px 0 0 -26px;
}

.inactive{
	color: black;
}

.active{
	color: #0078D4;
}

.icon_bar{
	display: flex;
	padding-bottom: 13px;
	border-bottom: 1px solid #D5D9DC;
}

.icon_bar a{
	text-decoration: none;
}

.icon_bar a i{
	font-size: 20px;
	margin: 20px 25px 0 25px;
	width: 25px;
	height: 25px;
}

.icon_bar a p{
	font-family: Arial;
	font-size: 10px;
	text-align: center;
	margin: 0px 0 0 -4px;
}

.meeting_menu{
	width: 300px;
	margin: auto;
	margin-top: 14px;
}

.meeting_menu button{
	width: ;
	height: 30px;
	background-color: white;
	border: 1px solid #D5D9DC;
	border-radius: 15px;
	padding: 0 20px 0 50px;
	cursor: pointer;
}

button img{
	margin-top: 1px;
}

button:nth-child(2){
	margin-left: 3px;
}

#video_icon{
	position: absolute;
	margin: -3px 0 0 -25px;
}

#note_icon{
	position: absolute;
	margin: -3px 0 0 -25px;
}

.fa-chevron-down{
	margin: 0 0 0 10px;
	color: #2C2C2E;
}

.ricent_chats{
	display: flex;
	margin-top: 23px;
}

.ricent_chats a{
	color: #8F9195;
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}

.ricent_chats i{
	margin: 0 0 0 5px;
	color: #8F9195;

}

.contacts{
	height: calc(100vh - 242px);
	width: 321px;
	overflow-y: auto;
	overflow-x: hidden;
}


.contact_item{
	width: 321px;
	height: 60px;
	background-color: inherit;
	display: flex;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.contact_item:hover{
	background-color: #DCF1FA;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.contact_item .logo{
	background-color: ;
	width: 36px;
	height: 36px;
	padding-top: 12px;
	margin-left: 10px;
}

.contact_item .logo .user_avatar{
	margin: 0 0 0 0;
}

.contact_item .logo .user_status{
	position: relative;
	width:10px;
	height: 10px;
	background-color: #4DD566;
	border: 2px solid #F0F3F8;
	border-radius: 100px;
	margin: -15px 0 0 20px;
}

.contact_item h2{
	margin: 0 0 0 0;
	font-family: Arial;
	font-size: 15px;
	font-weight: normal	
}

.contact_item p{
	margin: 5px 0 0 0;
	font-family: Arial;
	font-size: 12px;
	color: #8F9195;	
}

.contact_name{
	margin: 12px 0 0 10px;
	width: 200px;
}

.last_seen{
	width: 60px;
	margin-left: auto;
	margin-right: 10px;
}

.last_seen p{
	padding-top: 10px;
	padding-left: 10px
}


::-webkit-scrollbar {
	width: 8px;
	background-color: ;
	border-radius: 10px;
	opacity:;
}

::-webkit-scrollbar-thumb {
	background: ;
	border-radius: 10px;
	opacity: ;
}	
	

.contacts:hover::-webkit-scrollbar-thumb {
	background: #C6C8C9;
}
	
	
	
	
	
	
	